.App {
  text-align: left;
  
}
body{
  background-image: url('https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg');
  background-size: 100%;
}
div{
  background-color: aliceblue;
}
.card {
  margin: 20px;
  text-align: center;
  
}
footer{
  text-align: center;
  color: white;
}