.App {
  text-align: left;
  
}
body{
  background-image: url('city.jpg');
  background-color: #460e53;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: left;
  height:30%;
  color: white;

}

  .card {
    margin: 75px;
    text-align: center;
    color: white;
    
  }

  .btn-primary {
    background-color:rgb(111, 46, 175);
    border-color: rgb(50, 34, 34);
    margin:3px;
  }
  .btn-primary:hover {
    border-color: white;
  }
  

  #films, #weather,#food{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #weather.card {
    align-items: center;
    margin: 3px;

  }

  #films img {
    width: 7rem;
  }
  #films .card {
    width: 310px;
    margin: 5px;
  }

  #food.card{
    align-items: center;
    margin:3px
  }

#food img{
  width:7rem;
}



  form {
    margin: 20px;
  }

footer{
  text-align: center;
}
#foodcard{
  background-color: #6c5ac8;
}

#forecastcard{
  background-color: #6c5ac8;
}

h3{
  color: white;
}

#moviecard{
  background-color: #6c5ac8;
}
.tab{
width: 100%;
padding: 25px;
font-family: sans-serif;
color: #444;
}

ul.inline {
list-style: none;
padding: 0;
margin-bottom: 0;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}

ul.inline,
li {
display: inline-block;
margin-left: 0;
padding: 10px;
border-bottom: 2px solid #eee;
transition: all 0.5s;
font-family: Lato, sans-serif;
font-weight: 300;
cursor: pointer;
color: #aaa;
}

ul.inline,
li.selected {
border-bottom: 2px solid #337ab7;
color: #444;
}

